body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;    
    background-color: rgb(254,152,52);
}

h1 {
    font-size: 3.1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;    
}

#randomizer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: white;
    border-radius: 50px;
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;
    font-size: 2em;
    padding: 0 30px;
}
