html {
    /* base size for rem units */
    font-size: 2em;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;    
    background-color: rgb(254,152,52);
}

h1 {
    font-size: 0.8rem;
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0.5em 0 0.5em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

h3 {
    font-size: 1rem;
    line-height: 1.2;
    margin: 0.5em 0 0.5em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h4 {
    font-size: 0.8rem;
    line-height: 1.0;
    margin: 0.5em 0 0.5em;
}

#randomizer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}
#randomizer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#song-title {
    margin-top: auto;
    margin-bottom: 0;
}

#song-page {
    margin-bottom: auto;
}

#button-bar {
    margin: 0.5rem 0 1rem;
}

button {
    background-color: white;
    border-radius: 50px;
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 30px;
}

@media (max-height: 600px) {
    html { font-size: 1.5em; }
}
@media (max-height: 380px) {
    html { font-size: 1.2em; }
}
