body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;    
    background-color: rgb(254,152,52);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;    
}

#randomizer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: white;
    border-radius: 50px;
    font-family: 'Bungee Inline', cursive;
    font-weight: 400;
    font-size: 2em;
    padding: 0 30px;
}